:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a; /* Fundo mais escuro */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1a1a1a; /* Fundo mais escuro */
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
  font-weight: 800;
  color: #38b6ff; /* Azul para títulos principais */
}

p {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #e4e4e4;
}

label {
  font-family: "Poppins", sans-serif;
  font-size: 1.0em;
  font-weight: 10;
  color: #ffffff;
  text-align: left;
}

input {
  font-family: "Poppins", sans-serif;
  font-size: 1.0em;
  font-weight: 10;
  color: #ffffff;
  background-color: #2a2a2a; /* Input um pouco mais claro */
  border-radius: 8px;
  border: 1px solid #38b6ff; /* Borda azul */
  padding: 0.6em 1.2em;
}

a {
  font-weight: 500;
  color: #38b6ff;
  text-decoration: inherit;
}
a:hover {
  color: #007bff;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background-color: #38b6ff; /* Botões com a cor primária */
  color: #000;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  border-color: #38b6ff;
  background-color: #007bff;
  transform: translateY(-2px); /* Efeito de elevação */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
